body {
    background-color: #F6F6FA;
    padding: 40px;
    font-family: "Montserrat", sans-serif;
    padding-right: 1000px;
    
}

.wrapper {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start; /* Добавлено свойство выравнивания элементов */
}

.main-content, .sidebar {
    padding: 80px 40px;
    box-sizing: border-box;
}

.sidebar {
    background-color: #e0ebfe;
    width: 370px;
}

.sidebar1, .sidebar2 {
    padding: 40px;
}

.mydscr, .tech {
    color: #595959;
    font-size: 14px;
    font-family: montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.myproj {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px;
    padding-left: 8px;
}

.linka {
    color: blue;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.photo {
    padding-right: 100px;
}
